/* Titulo */
h1{
    color: black;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 30px;
    font-weight: lighter;
}

.form-cadastro-consulta{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cadastro-consulta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: rgba(255, 255, 255, 80%);

    height: 332px;
    width: 700px;
    border-radius: 50px;

    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 30px;
}

.todos-campos{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.campos{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo-consulta{
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.campo-consulta label,
.campo-tempo label{
    color: black;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 25px;  
    font-weight: bold;  
}

.campo-consulta input{
    width: 170px;
    height: 30px;

    border-radius: 10px;
    border: none;
    text-align: center;
}

/* Input de situação */
.select-cadastro{
    cursor: pointer;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 0px 0px;
    
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 18px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-color: #FFFFFF;
    background-image: url("../img/seta.png");
    background-position: right 3px top 50%;
    background-repeat: no-repeat;
    background-size: 10px;
    
    padding-right: 15px;
    padding: 5px 10px;
    width: 170px;
}

.situacao:focus,
.situacao:hover{
    outline: none;
    border: 1px solid #BBBBBB;
}

.situacao option{
    background-color: #FFFFFF;
    font-weight: bold;
}

.neutro{
    color: gray;
}

/* botão */
.form-cadastro-consulta button{
    width: 200px;
    height: 40px;
    border-radius: 30px 110px 30px 110px;
    
    color: white;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 25px;
    font-weight: bolder;

    border: none;
    background-color: #FC4E57;
}

.form-cadastro-consulta button:hover{
    background-color: #fc6b73;
    cursor: pointer;
}